<h2><%= @work.title %></h2>
Created by: <%= @work.creator %><br>
Published: <%= @work.publication_year %><br>

<%= link_to "Back to media ranks", root_path %><br>
<%= link_to "Edit", edit_work_path %><br>
<%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure?"} %>
