<!DOCTYPE html>
<html>
  <head>
    <title>Media Ranker 2.0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" type="image/x-icon" href="http://media-ranker-2-0.herokuapp.com/assets/favicon-910822ff6cd5f6d37119171c4b716f1d4e5fe0e8ad5e408627659ebf8d7f16b1.ico" />
  </head>
  <body>
  <header class="app-header__header">
    <h1>
      <a href="/">Media Ranker</a>
      <small>Ranking the Best of Everything</small>
    </h1>
    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          <%= link_to "View top media", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to "View all media", works_path, class: "nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to "Add a new work", new_work_path, class: "nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to "View all users", users_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="nav app-header__user-nav-container">
        <li class="nav-item app-header__nav_item">
          <%= link_to "Log In", login_path, class: "btn btn-primary" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to "Log Out", logout_path, method: :post, class: "btn btn-primary" %>
        </li>
      </ul>
    </nav>
  </header>
  <section class="alert__container">
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %>"><%= message %></div>
    <% end %>     
  </section>
  <main>
    <%= yield %>
  </main>
  </body>
</html>
