<!DOCTYPE html>
<html>
  <head>
    <title>Media Ranker 2.0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/hdxjsqsnw/image/upload/v1571338748/favicon.ico" />
  </head>
  <body>
  <header class="app-header__header">
    <h1>
      <a href="/">Media Ranker</a>
      <small>Ranking the Best of Everything</small>
    </h1>
    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          <%= link_to "View top media", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to "View all media", works_path, class: "nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to "Add a new work", new_work_path, class: "nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to "View all users", users_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="nav app-header__user-nav-container">
        <% current_user = User.find_by(id: session[:user_id]) %>
          <% if current_user %>
            <li class="nav-item app-header__nav_item">
              <%= link_to "Logged in as #{current_user.username}", user_path(current_user), class: "btn btn-primary" %>
            </li>
            <li class="nav-item app-header__nav_item">
              <%= link_to "Log Out", logout_path, method: :post, class: "btn btn-primary" %>
            </li>
          <% else %>
            <li class="nav-item app-header__nav_item">
              <%= link_to "Log In", login_path, class: "btn btn-primary" %>
            </li>
          <% end %>  
      </ul>
    </nav>
  </header>
  <% if flash.count > 0 %>
    <section class="alert__container">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %>"><%= message %>
          <% if @work && @work.errors.any? %>
          <ul>
            <% @work.errors.each do |column, message| %>
            <li><%= column %>: <%= message %></li>
          <% end %>
          </ul>
          <% end %>
      <% end %>
        </div>
    </section>
  <% end %>
  <main>
    <%= yield %>
  </main>
  </body>
</html>
